:root {
  scroll-behavior: smooth;
  font-size: 14px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  /* background-image: linear-gradient(to bottom, #FFFFFF, #F8E8D8); */
  background-color: #FFF8E7;
  ;
}

a {
  color: #009961;
  text-decoration: none;
}

a:hover {
  color: #00cc81;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}



/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #e55d1a;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #B28E30;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #e55d1a;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(40, 40, 40, 0.9);
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 60px;
}

@media (max-width: 992px) {
  #header {
    border: 0;
    padding: 15px 0;
  }
}

/* Get Startet Button */
.get-started-btn {
  margin-left: 25px;
  background: #B28E30;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px 9px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}

.get-started-btn:hover {
  background: #B28E30;
  color: #fff;
}

@media (max-width: 992px) {
  .get-started-btn {
    margin: 0 15px 0 0;
    padding: 6px 18px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  position: relative;
  white-space: nowrap;
  margin: 0 12px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 3px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #B28E30;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-top: 2px solid #B28E30;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #282828;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #B28E30;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(15, 15, 15, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #282828;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #B28E30;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #B28E30;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  /* background: url("../img/hero-bg.jpg") top center; */
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  /* padding-top: 72px; */
  position: relative;
  text-align: center;
}

#hero h1 {
  font-family: "Playfair Display SC";
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 25px;
  font-size: 24px;
}

#hero .play-btn {
  width: 94px;
  height: 94px;
  margin: 0 auto;
  background: radial-gradient(#009961 50%, rgba(0, 153, 97, 0.4) 52%);
  border-radius: 50%;
  display: block;
  overflow: hidden;
  position: relative;
}

#hero .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#hero .play-btn::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  animation-delay: 0s;
  animation: pulsate-btn 3s;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(0, 153, 97, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

#hero .play-btn:hover::after {
  border-left: 15px solid #009961;
  transform: scale(20);
}

#hero .play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  animation: none;
  border-radius: 0;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #8fffd6;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #009961;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
  color: #777777;
  font-size: 15px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  font-size: 14px;
  background-color: #FFD4AA;
  padding: 30px 0;
  color: rgb(0, 0, 0);
}

.footer h2 {
  color: #07405A;
}

.footer h4 {
  font-family: var(--font-primary);
}

.footer p {
  font-size: 15px;
}

.social-links ul {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 20px;
}

.social-links ul li {
  font-size: 20px;
  background: #BF7B5D;
  border-radius: 50%;
  padding: 5px 10px;
  color: #fff;
}

.info-box_text a {
  text-decoration: none;
  color: #000;
}

.info-box_text a i {
  background-color: #BF7B5D;
  color: #fff;
  border-radius: 50%;
  padding: 1px 6px;
  font-size: 15px;

}

.vimeo-wrapper {
  /* position: fixed;
  top: 0;
  left: 0; */
  width: 100%;
  /* height: 100%; */
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.vimeo-wrapper video {
  width: 100vw;
  height: 56.25vw;
  /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh;
  /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.eltdf-btn.eltdf-btn-outline {
  color: #c78665;
  background-color: #fff;
  border: 1px solid #c78665;
}

.eltdf-btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
  font-family: Cormorant, serif;
  font-size: 19px;
  font-style: italic;
  line-height: 2em;
  letter-spacing: 0;
  font-weight: 400;
  outline: 0;
  box-sizing: border-box;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  padding: 10px 70px 9px;
  cursor: pointer;
}

.eltdf-btn.eltdf-btn-outline .eltdf-btn-line-top {
  left: 4px;
  top: 4px;
  height: 1px;
  width: calc(100% - 8px);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
  transform-origin: right center;
}

.eltdf-btn.eltdf-btn-outline .eltdf-btn-line {
  position: absolute;
  background-color: currentColor;
  -webkit-transition: transform .35s ease-out;
  -moz-transition: transform .35s ease-out;
  transition: transform .35s ease-out;
}

.eltdf-btn.eltdf-btn-outline .eltdf-btn-line-right {
  right: 4px;
  bottom: 4px;
  width: 1px;
  height: calc(100% - 8px);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  transform: scaleY(1);
  transform-origin: center top;
}

.eltdf-btn.eltdf-btn-outline .eltdf-btn-line-bottom {
  right: 4px;
  bottom: 4px;
  height: 1px;
  width: calc(100% - 8px);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
  transform-origin: left center;
}

.eltdf-btn.eltdf-btn-outline .eltdf-btn-line-left {
  left: 4px;
  top: 4px;
  width: 1px;
  height: calc(100% - 8px);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  transform: scaleY(1);
  transform-origin: center bottom;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-carousel.owl-theme .owl-dots .owl-dot.active span,
.dream-carousel .owl-theme .owl-dots .owl-dot:hover span {
  background: #A17F5A;
  width: 30px;
}

.section-heading {
  font-family: "Playfair";
  font-size: 48px;
  font-weight: 600;
  color: #07405A;
}

.section-subheading {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 300;
  color: #A17F5A;

}

.about-text h4 {
  font-family: "Poppins";
  font-size: 28px;
  font-weight: 600;
  color: #07405A;
  margin-left: 35px;
}

/*--------------------------------------------------------------
# Expertise
--------------------------------------------------------------*/

.expertise {
  background: #A17F5A;
}

.carousel3 {
  position: relative;
}

.carousel3 .item img {
  width: 100%;
  height: 400px;
  object-fit: fill;
}

.carousel3 .owl-prev,
.carousel3 .owl-next {
  font-size: 34px !important;
  width: 45px;
  height: 45px;
  text-align: center;
  position: absolute;
  color: #000 !important;
  background-color: #B28E30 !important;
  border-radius: 50% !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel3 .owl-prev {
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
}

.carousel3 .owl-next {
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
}

.nav-pills .nav-link {
  border-radius: 2px;
  background: transparent;
  color: #000000;
  padding-bottom: 3px;
  font-size: 16px;
  font-weight: 500;
}

.nav-pills .nav-link.active {
  background: transparent;
  border-bottom: 2px solid #FFC452;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

@media only screen and (max-width: 991px) {
  .about-data {
    gap: 20px;
  }

  section {
    padding: 20px 0;
    overflow: hidden;
  }

  .section-heading {
    font-family: "Playfair";
    font-size: 32px;
  }

}

.hospitality-data-ind {
  margin-left: 45px;
  border-bottom: 1px solid #000;
}

@media only screen and (max-width: 991px) {
  .hospitality-data-ind {
    margin-left: 0;
  }
}

.hospitality-text h4 {
  font-family: "Playfair";
  color: #07405A;
  font-weight: 700;
  font-size: 25px;
}

.hospitality-text p {
  font-family: "Poppins";
  color: #A17F5A;
  font-size: 16px;
}

/**********************************/
/********** Effect #10 CSS *********/
/**********************************/
.effect-10 {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.effect-10 .effect-img {
  position: relative;
  font-size: 0;
  overflow: hidden;
}

.effect-10 .effect-img img {
  position: relative;
  width: 100%;
  height: auto;
  transition: .5s;
}

.effect-10:hover .effect-img img {
  transform: scale(1.2);
}

.effect-10 .effect-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, .30);
  transition: .5s;
}

.effect-10 .effect-text h2 {
  color: #ffffff;
  font-size: 50px;
  margin: 0;
  font-family: "Playfair";
  text-align: center;
  font-weight: 300;
}

.effect-10 .effect-detail {
  position: relative;
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, .5);
  overflow: hidden;
  transition: .5s;
  z-index: 1;
}

.effect-10 .effect-detail:before,
.effect-10 .effect-detail:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 0;
  content: '';
}

.effect-10 .effect-detail:before {
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  left: -100%;
  top: 0;
}

.effect-10 .effect-detail:after {
  border-bottom: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  left: 100%;
  bottom: 0;
}

@-webkit-keyframes left-up {
  0% {
    left: 100%;
    height: 0;
  }

  50% {
    left: 0;
    height: 0;
  }

  100% {
    height: 100%;
    left: 0;
  }
}

@-webkit-keyframes right-dn {
  0% {
    left: -100%;
    height: 0;
  }

  50% {
    left: 0;
    height: 0;
  }

  100% {
    height: 100%;
    left: 0;
  }
}

.effect-10:hover .effect-detail {
  margin-top: 15px;
  opacity: 1;
}

.effect-10:hover .effect-detail:after,
.effect-10:hover .effect-detail:before {
  animation-delay: .2s;
  animation-duration: .7s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards
}

.effect-10:hover .effect-detail:after {
  animation-name: left-up;
}

.effect-10:hover .effect-detail:before {
  animation-name: right-dn;
}

.effect-10 .effect-text p {
  color: #ffffff;
  font-size: 18px;
  padding: 0 30px;
  margin: 0;
  opacity: 0;
  transform: scale(0);
  transition: .5s;
  transition-delay: .2s;
  text-align: center;
}

.effect-10:hover .effect-detail {
  width: 100%;
  height: calc(100% - 45px);
}

.effect-10:hover .effect-detail p {
  opacity: 1;
  transform: scale(1);
}

.effect-10:hover h2 {
  display: none;
}

.blissful {
  background-color: #EAEAEA;
}

.client-marq-text h2 {
  font-family: "Playfair";
  font-weight: 700;
  font-size: 38px;

}

/*==clientele css===*/
.marquee-wrapper {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Marquees {
  overflow-x: hidden;
}

.Marquee {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200vw;
}

.marquee {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 12.5vw; */
  /*line 43 is very important. since we have 16 items, width of the Marquee which is 200vw must be devided between them. which turns out to be 12.5vw*/
  margin: 10px;
  border-radius: 15px;
}

.marquee:hover {
  background: #1d1d1d;
}

.SecondRow {
  animation: Scroll 40s linear infinite;
  animation-direction: reverse;
}

@keyframes Scroll {
  0% {
    transform: translateX(-50vw);
    -webkit-transform: translateX(-50vw);
  }

  100% {
    transform: translateX(50vw);
    -webkit-transform: translateX(50vw);
  }
}


@media only screen and (max-width: 991px) {
  .marquee {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    border-radius: 15px;
  }

  .Marquee {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400vw;
  }
}

#hero-about {
  min-height: calc(100vh - 110px);
  display: flex;
  align-items: center;
  background-image: url("../img/about-us/about-hero.webp");
  background-size: cover;
  background-position: center;
  position: relative;
}

#hero-about h1 {
  font-family: "Playfair Display SC";
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;

}

.about-us-text h3 {
  font-family: "Playfair Display";
  color: #07405A;
  font-size: 38px;
  font-weight: 700;
}

.vertical-divide {
  height: 100%;
  width: 1px;
  background-color: #07405A;
  margin: 2px;
  padding: 1px;
  padding-bottom: 40px;
  margin: auto;
}

@media only screen and (max-width: 991px) {
  .vertical-divide {
    display: none;
  }

  .section-subheading {
    font-size: 14px;
  }

}

.about-service p {
  font-family: "Playfair Display";
  font-size: 18px;
  color: #07405A;
  margin-top: 10px;
  font-weight: 600;
}

.work {
  min-height: 40vh;
  display: flex;
  align-items: center;
  background-image: url("../img/about-us/work-with-us-image.webp");
  background-size: cover;
  background-position: center;
  background-position: bottom;
  position: relative;
  margin-bottom: 40px;
}

.work-text h2 {
  font-family: "Playfair Display SC";
  font-size: 38px;
  font-weight: 700;
}

.work-text p {
  font-family: "Poppins";
  font-size: 18px;
}