@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root
{
    --color-links: #F29C25;
    --color-warning: #F29C25;
    --color-primary: #7C144A;
    --color-white: #ffffff;
    --color-blue: #272F77;
    --color-black: #000000;
    --font-primary: "Playfair Display", serif;
    --font-secondary:"Heebo", sans-serif;
}